@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    color: var(--text-color);
}

:root {
    --logo-color: rgb(226, 73, 73);
    --text-color: rgb(26, 26, 26);
    --subtitle-color: rgb(37, 37, 37);
    --color-background: #ffffff;
    --card-color: #212630;
    --texto-grande: 3rem;
    --h2-size: 1.5rem;
    --p-size: 0.9rem;  
    
    --box-shadow: 0rem 1rem 2rem 1rem rgba(38, 41, 68, 0.2);
}

body {
    background-color: var(--color-background);
}

.general-container {
    display: flex;
    flex-direction: row;
}

/*-------DASHBOARD-------------*/
.dashboard {
    background-color: rgb(238, 238, 238);
    width: 20%;
    display: flex;
    float: left;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100vh;
    padding: 3rem 0 3rem 3rem;
    gap: 4rem 0;
}

.dashboard-options {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

.dashboard h2 {
    color: var(--logo-color);
    font-size: 2rem;
}

.dashboard-options a {
    display: flex;
    flex-direction: row;
    gap: .9rem;
    font-size: 1rem;
}

.dashboard-options span {
    font-size: 1.5rem;
}

.dashboard-options a.active {
    border-right: 3px solid var(--logo-color);
    color: var(--logo-color);
}

.dashboard-options span.active {
    color: var(--logo-color);
}

/*---------GRADES MENU-------------*/
.menu-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
    gap: 6rem 0;
}

.menu-top-container {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

.cursos {
    width: 100%;
    height: 15vh;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.curso-tab {
    background-color: rgb(238, 238, 238);
    width: 400px;
    height: 15vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.curso-tab span {
    color: white;
    font-size: 4.5rem;
    padding: 15px;
    border-radius: 50%;
}

#finance {
    background-color: rgb(106, 73, 226);
}

#chemistry {
    background-color: rgb(73, 226, 119);
}

#mathematics {
    background-color: rgb(226, 147, 73);
}

.curso-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.curso-info span {
    color: rgb(70, 70, 70);
}

/*----------Menu--------------*/

.menu-container {
    display: flex;
    flex-direction: row;
    gap: 0 10rem;
    padding: 30px;
    border-radius: 1.5rem;
    background-color: rgb(238, 238, 238);
}

.grades-view {
    width: 35%;
    height: 50vh;
    padding: 3rem 5rem;
    border-right: 1px solid rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
    height: 100%;
}

.grades-view h3 {
    color: rgb(36, 36, 36);
    font-size: 1.7rem;
    text-align: center;
}

.grades-view div {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

.grades-show h3 {
    color: rgb(85, 85, 85);
    font-size: 1.2rem;
}

.grades-show div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
}

.grades-bar-progress {
    background-color: rgb(202, 202, 202);
    width: 100px;
    height: 1vh;
    border-radius: 10%;
}

.grade-progress {
    height: 1vh;
}

#finance-bar {
    background-color: rgb(106, 73, 226);
    width: 30%;
}

#chemistry-bar {
    width: 80%;
    background-color: rgb(73, 226, 119);
}

#mathematics-bar {
    width: 50%;
    background-color: rgb(226, 147, 73);
}

/*---------------------------CALCULAOTOR-----------------------------------*/

.calculator-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 3rem 5rem;
}

.calculator-tab h3 {
    color: rgb(36, 36, 36);
    font-size: 1.7rem;
}

.calculator-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.calculator-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.calculator-form input {
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--logo-color);
    background-color: white;
    color: rgb(70, 70, 70);
    height: 3vh;
}

.calculator-container p {
    padding: 5px;
    background-color: white;
    border-radius: 15px;
}

.calculator-container button {
    background-color: var(--logo-color);
    padding: 1rem 2rem;
    width: 50%;
    border: none;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    font-size: .9rem;
}

.calculator-container button:hover {
    background-color: rgb(184, 60, 60);
    cursor: pointer;
}